IMPORT file

LET lines := file.readLines("06.txt")
print(firstDistinct(lines[0], 4))
print(firstDistinct(lines[0], 14))

FUNCTION firstDistinct(s: String, n: Number): Number
    FOR i := 0 TO s.length()-n DO
        VAR d: Dictionary<Boolean> := {}
        FOR j := 0 TO n-1 DO
            d[s[i+j]] := TRUE
        END FOR
        IF d.size() = n THEN
            RETURN i+n
        END IF
    END FOR
    RETURN -1
END FUNCTION
